In [1]:
import pandas as pd

# Data for Guests Table
guests_data = {
    'GuestID': list(range(1, 21)),
    'FirstName': ['John', 'Jane', 'Michael', 'Emily', 'Daniel', 
                  'Sophia', 'William', 'Olivia', 'James', 'Isabella', 
                  'Lucas', 'Mia', 'Ethan', 'Ava', 'Liam', 
                  'Charlotte', 'Mason', 'Amelia', 'Henry', 'Ella'],
    'LastName': ['Doe', 'Smith', 'Brown', 'Davis', 'Garcia', 
                 'Miller', 'Wilson', 'Martinez', 'Taylor', 'Anderson', 
                 'Thomas', 'Jackson', 'White', 'Harris', 'Martin', 
                 'Lee', 'Perez', 'Thompson', 'Lopez', 'Gonzalez'],
    'Email': ['john.doe@example.com', 'jane.smith@example.com', 'michael.brown@example.com', 
              'emily.davis@example.com', 'daniel.garcia@example.com', 
              'sophia.miller@example.com', 'william.wilson@example.com', 
              'olivia.martinez@example.com', 'james.taylor@example.com', 
              'isabella.anderson@example.com', 'lucas.thomas@example.com', 
              'mia.jackson@example.com', 'ethan.white@example.com', 
              'ava.harris@example.com', 'liam.martin@example.com', 
              'charlotte.lee@example.com', 'mason.perez@example.com', 
              'amelia.thompson@example.com', 'henry.lopez@example.com', 
              'ella.gonzalez@example.com'],
    'PhoneNumber': ['1234567890', '0987654321', '5555555555', '4444444444', 
                    '3333333333', '2222222222', '1111111111', '6666666666', 
                    '7777777777', '8888888888', '9999999999', '1234567891', 
                    '2234567890', '3234567890', '4234567890', '5234567890', 
                    '6234567890', '7234567890', '8234567890', '9234567890'],
    'Address': ['123 Maple St', '456 Oak St', '789 Pine St', '321 Birch St', 
                '987 Cedar St', '159 Elm St', '753 Willow St', '357 Ash St', 
                '951 Poplar St', '159 Redwood St', '753 Cypress St', '357 Fir St', 
                '951 Spruce St', '753 Chestnut St', '159 Magnolia St', 
                '357 Sequoia St', '951 Larch St', '753 Hickory St', 
                '159 Juniper St', '357 Beech St'],
    'City': ['New York', 'Chicago', 'Los Angeles', 'San Francisco', 'Dallas', 
             'Houston', 'Boston', 'Miami', 'Seattle', 'Denver', 
             'Las Vegas', 'San Diego', 'Austin', 'Atlanta', 'Phoenix', 
             'Orlando', 'Philadelphia', 'Nashville', 'Detroit', 'San Antonio'],
    'Country': ['USA'] * 20
}

# Data for Rooms Table
rooms_data = {
    'RoomID': list(range(1, 21)),
    'RoomNumber': [101, 102, 103, 104, 105, 
                   106, 107, 108, 109, 110, 
                   201, 202, 203, 204, 205, 
                   206, 207, 208, 209, 210],
    'RoomType': ['Single', 'Double', 'Suite', 'Single', 'Double', 
                 'Suite', 'Single', 'Double', 'Suite', 'Single', 
                 'Single', 'Double', 'Suite', 'Single', 'Double', 
                 'Suite', 'Single', 'Double', 'Suite', 'Single'],
    'PricePerNight': [100, 150, 250, 100, 150, 
                      250, 100, 150, 250, 100, 
                      110, 160, 260, 110, 160, 
                      260, 110, 160, 260, 110],
    'IsAvailable': [True, True, True, False, False, 
                    True, True, True, False, True, 
                    True, True, True, False, True, 
                    False, True, True, False, True]
}

# Data for Reservations Table
reservations_data = {
    'ReservationID': list(range(1, 21)),
    'GuestID': [1, 2, 3, 4, 5, 
                6, 7, 8, 9, 10, 
                11, 12, 13, 14, 15, 
                16, 17, 18, 19, 20],
    'RoomID': [101, 102, 103, 104, 105, 
               106, 107, 108, 109, 110, 
               201, 202, 203, 204, 205, 
               206, 207, 208, 209, 210],
    'CheckInDate': pd.to_datetime(['2024-10-01', '2024-10-02', '2024-10-03', 
                                    '2024-10-04', '2024-10-05', '2024-10-06', 
                                    '2024-10-07', '2024-10-08', '2024-10-09', 
                                    '2024-10-10', '2024-10-11', '2024-10-12', 
                                    '2024-10-13', '2024-10-14', '2024-10-15', 
                                    '2024-10-16', '2024-10-17', '2024-10-18', 
                                    '2024-10-19', '2024-10-20']),
    'CheckOutDate': pd.to_datetime(['2024-10-05', '2024-10-06', '2024-10-07', 
                                     '2024-10-08', '2024-10-09', '2024-10-10', 
                                     '2024-10-11', '2024-10-12', '2024-10-13', 
                                     '2024-10-14', '2024-10-15', '2024-10-16', 
                                     '2024-10-17', '2024-10-18', '2024-10-19', 
                                     '2024-10-20', '2024-10-21', '2024-10-22', 
                                     '2024-10-23', '2024-10-24']),
    'NumberOfGuests': [1, 2, 3, 1, 2, 
                       3, 1, 2, 3, 1, 
                       1, 2, 3, 1, 2, 
                       3, 1, 2, 3, 1],
    'Status': ['Confirmed', 'Confirmed', 'Cancelled', 'Confirmed', 'Confirmed', 
               'Confirmed', 'Confirmed', 'Cancelled', 'Confirmed', 'Confirmed', 
               'Confirmed', 'Confirmed', 'Confirmed', 'Cancelled', 'Confirmed', 
               'Confirmed', 'Confirmed', 'Cancelled', 'Confirmed', 'Confirmed'],
    'TotalPrice': [400, 600, 0, 400, 600, 
                   1000, 400, 0, 1000, 400, 
                   440, 640, 1040, 0, 640, 
                   1040, 440, 0, 1040, 440]
}

# Data for Payments Table
payments_data = {
    'PaymentID': list(range(1, 21)),
    'ReservationID': [1, 2, 4, 5, 6, 
                      7, 9, 10, 11, 12, 
                      13, 15, 16, 17, 19, 
                      20, 3, 8, 14, 18],
    'AmountPaid': [400, 600, 400, 600, 1000, 
                   400, 1000, 400, 440, 640, 
                   1040, 640, 1040, 440, 1040, 
                   440, 0, 0, 0, 0],
    'PaymentDate': pd.to_datetime(['2024-10-01', '2024-10-02', '2024-10-04', 
                                    '2024-10-05', '2024-10-06', '2024-10-07', 
                                    '2024-10-09', '2024-10-10', '2024-10-11', 
                                    '2024-10-12', '2024-10-13', '2024-10-15', 
                                    '2024-10-16', '2024-10-17', '2024-10-19', 
                                    '2024-10-20', '2024-10-03', '2024-10-08', 
                                    '2024-10-14', '2024-10-18']),
    'PaymentMethod': ['Credit Card', 'Cash', 'Debit Card', 'Credit Card', 'Cash', 
                      'Debit Card', 'Credit Card', 'Cash', 'Debit Card', 'Credit Card', 
                      'Cash', 'Credit Card', 'Cash', 'Debit Card', 'Credit Card', 
                      'Cash', 'N/A', 'N/A', 'N/A', 'N/A']
}

# Data for Staff Table
staff_data = {
    'StaffID': list(range(1, 21)),
    'FirstName': ['David', 'Laura', 'Mark', 'Emma', 'Chris', 
                  'Olivia', 'Luke', 'Sophia', 'James', 'Isabella', 
                  'Henry', 'Ethan', 'Mason', 'Ava', 'Charlotte', 
                  'Liam', 'Harper', 'Jack', 'Emma', 'Daniel'],
    'LastName': ['Jones', 'Clark', 'Walker', 'Hall', 'Allen', 
                 'Young', 'Hernandez', 'King', 'Scott', 'Moore', 
                 'Adams', 'Baker', 'Gonzalez', 'Carter', 'Nelson', 
                 'Turner', 'Perez', 'Parker', 'Evans', 'Roberts'],
    'Role': ['Manager', 'Receptionist', 'Housekeeper', 'Receptionist', 'Chef', 
             'Manager', 'Housekeeper', 'Receptionist', 'Chef', 'Manager', 
             'Housekeeper', 'Receptionist', 'Chef', 'Manager', 'Housekeeper', 
             'Receptionist', 'Manager', 'Chef', 'Receptionist', 'Housekeeper'],
    'PhoneNumber': ['1112223333', '2223334444', '3334445555', '4445556666', 
                    '5556667777', '6667778888', '7778889999', '8889991111', 
                    '9991112222', '1112229999', '2229991111', '3335558888', 
                    '4441115555', '5558884444', '6664441111', '7775552222', 
                    '8886663333', '9997774444', '1113336666', '2224447777'],
    'Email': ['david.jones@hotel.com', 'laura.clark@hotel.com', 'mark.walker@hotel.com', 
              'emma.hall@hotel.com', 'chris.allen@hotel.com', 'olivia.young@hotel.com', 
              'luke.hernandez@hotel.com', 'sophia.king@hotel.com', 'james.scott@hotel.com', 
              'isabella.moore@hotel.com', 'henry.adams@hotel.com', 'ethan.baker@hotel.com', 
              'mason.gonzalez@hotel.com', 'ava.carter@hotel.com', 'charlotte.nelson@hotel.com', 
              'liam.turner@hotel.com', 'harper.perez@hotel.com', 'jack.parker@hotel.com', 
              'emma.evans@hotel.com', 'daniel.roberts@hotel.com']
}

# Data for Services Table
services_data = {
    'ServiceID': list(range(1, 21)),
    'ServiceName': ['Room Cleaning', 'Laundry', 'Room Service', 'Spa', 'Gym Access', 
                    'Swimming Pool', 'Airport Shuttle', 'Free Breakfast', 'Dinner', 'Bar',
                    'Conference Room', 'Valet Parking', 'Wi-Fi', 'Car Rental', 'Sightseeing Tour', 
                    'Massage', 'Pet Sitting', 'Babysitting', 'Personal Trainer', 'Yoga Class'],
    'ServicePrice': [50, 30, 20, 100, 25, 
                     15, 40, 10, 50, 20, 
                     150, 80, 10, 60, 200, 
                     100, 120, 80, 100, 50],
    'Description': ['Daily cleaning of rooms', 'Laundry service for guests', 
                    'In-room dining service', 'Relaxing spa treatments', 
                    'Access to gym facilities', 'Access to swimming pool', 
                    'Transportation to and from the airport', 
                    'Complimentary breakfast for guests', 'Dinner service available', 
                    'Alcoholic and non-alcoholic beverages', 
                    'Space available for meetings and events', 
                    'Parking service for guests', 'Free internet access', 
                    'Rental services for cars', 'Guided tours available', 
                    'Therapeutic massage services', 
                    'Care for pets during guests’ stay', 
                    'Childcare services available', 
                    'Fitness sessions with a trainer', 
                    'Yoga sessions for relaxation']
}

# Creating DataFrames
guests_df = pd.DataFrame(guests_data)
rooms_df = pd.DataFrame(rooms_data)
reservations_df = pd.DataFrame(reservations_data)
payments_df = pd.DataFrame(payments_data)
staff_df = pd.DataFrame(staff_data)
services_df = pd.DataFrame(services_data)

# Creating Excel file
with pd.ExcelWriter('HotelManagementDB.xlsx', engine='openpyxl') as writer:
    guests_df.to_excel(writer, sheet_name='Guests', index=False)
    rooms_df.to_excel(writer, sheet_name='Rooms', index=False)
    reservations_df.to_excel(writer, sheet_name='Reservations', index=False)
    payments_df.to_excel(writer, sheet_name='Payments', index=False)
    staff_df.to_excel(writer, sheet_name='Staff', index=False)
    services_df.to_excel(writer, sheet_name='Services', index=False)

print("Excel file 'HotelManagementDB.xlsx' created successfully!")

Excel file 'HotelManagementDB.xlsx' created successfully!